@model MVC_Ticari_Otomasyon.Models.siniflar.Kategori
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yeni Kategori Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.kategoriAd)
    @Html.TextBoxFor(x => x.kategoriAd, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

<div class="form-group"method="post">
    <label>Kategori No:</label>
    @Html.DisplayFor(model => model.kategoriID)
</div>
<div class="form-group">
    <label>Kategori Ad:</label>
    @Html.DisplayFor(model => model.kategoriAd)
</div>